/node_modules
/public/node_modules
/public/hot
/public/storage
/public/sitemap_ru.xml
/public/sitemap_en.xml
/public/css
/public/img
/public/admin_assets
/public/js
/public/images
/public/mix-manifest.json

/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/*
clear.bat
mytodo.txt
/resources/lang/en.json
/resources/lang/ru.json
payeer*.txt
*.licence
*-decoded
/_ide_helper.php

*.tmp
*.log
worker.log.*
/public/img/avatars/*
/public/img/profiles/*
