.sm-2gis, .sm-2gis_active {
    width: 18px; height: 18px;
    background: url('../img/sprites/social.png') -182px -95px;
}

.sm-iTunes-main {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -60px -29px;
}

.sm-music, .sm-music_active {
    width: 18px; height: 18px;
    background: url('../img/sprites/social.png') -182px -113px;
}

.sm-avito, .sm-avito_active {
    width: 18px; height: 18px;
    background: url('../img/sprites/social.png') -182px -131px;
}

.sm-DatPiff {
    width: 20px; height: 20px;
    background: url('../img/sprites/social.png') -158px -71px;
}

.sm-Dislikes_active {
    width: 18px; height: 17px;
    background: url('../img/sprites/social.png') -201px -0;
}

.sm-Dislikes {
    width: 18px; height: 17px;
    background: url('../img/sprites/social.png') -201px -17px;
}

.sm-Downloads_active, .sm-iTunesDownloads_active {
    width: 18px; height: 19px;
    background: url('../img/sprites/social.png') -182px -19px;
}

.sm-Downloads, .sm-iTunesDownloads {
    width: 18px; height: 19px;
    background: url('../img/sprites/social.png') -182px -38px;
}

.sm-folowers_active, .sm-Subscribers_active, .sm-Twitchfollowers_active, .sm-TwitchLiveViews_active, .sm-foll_active, .sm-facebookevents_active, .sm-facebookfollowers_active, .sm-facebookstreamviews_active, .sm-Traffic_active, .sm-ss_active, .sm-PinterestFollowers_active, .sm-TwitterFollowers_active, .sm-vksub_active, .sm-icon.sm-vk_active, .sm-iTunesSubscribers_active, .sm-okgroup_active, .sm-followers_active, .sm-dfsdf_active, .sm-fjhc_active, .sm-Servermembers_active {
    width: 18px; height: 19px;
    background: url('../img/sprites/social.png') -182px -57px;
}

.sm-folowers, .sm-Subscribers, .sm-Twitchfollowers, .sm-TwitchLiveViews, .sm-foll, .sm-facebookevents, .sm-facebookfollowers, .sm-facebookstreamviews, .sm-Traffic, .sm-ss, .sm-PinterestFollowers, .sm-TwitterFollowers, .sm-vksub, .sm-icon.sm-vk, .sm-iTunesSubscribers, .sm-okgroup, .sm-followers, .sm-dfsdf, .sm-fjhc, .sm-Servermembers {
    width: 18px; height: 19px;
    background: url('../img/sprites/social.png') -182px -76px;
}

.sm-businessrewiew, .sm-businessrewiew_active {
    width: 21px; height: 18px;
    background: url('../img/sprites/social.png') -158px -131px;
}

.sm-gmaps, .sm-gmaps_active {
    width: 13px; height: 18px;
    background: url('../img/sprites/social.png') -96px -84px;
}

.sm-facebook {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -0 -60px;
}

.sm-appstore {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -24px -60px;
}

.sm-Discord {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -48px -60px;
}

.sm-course_tiktok {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -72px -60px;
}

.sm-daily {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -0 -84px;
}

.sm-Deezer {
    width: 24px; height: 14px;
    background: url('../img/sprites/social.png') -108px -156px;
}

.bg-instagram {
    width: 30px; height: 30px;
    background: url('../img/sprites/social.png') -0 -0;
}

.sm-instagram {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -24px -84px;
}

.sm-inst, .sm-inst_active {
    width: 18px; height: 18px;
    background: url('../img/sprites/social.png') -182px -149px;
}

.sm-imdbmain {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -48px -84px;
}

.sm-target_active, .sm-app-installs_active, .sm-android-active, .sm-spotifymain_active, .sm-minet_active, .sm-seo_active, .sm-direct_active, .sm-adwards_active, .sm-edit_active {
    width: 20px; height: 20px;
    background: url('../img/sprites/social.png') -158px -91px;
}

.sm-target, .sm-app-installs, .sm-android, .sm-spotifymain, .sm-minet, .sm-seo, .sm-direct, .sm-adwards, .sm-edit {
    width: 20px; height: 20px;
    background: url('../img/sprites/social.png') -158px -111px;
}

.sm-Reach_active, .sm-pac_active, .sm-pack_active, .sm-hashtag_active, .sm-iTunesRating_active, #wiki-panel .sm-wiki_active, #press-panel .sm-press_active, .sm-place_active {
    width: 18px; height: 13px;
    background: url('../img/sprites/social.png') -166px -176px;
}

.sm-Reach, .sm-pac, .sm-pack, .sm-hashtag, .sm-iTunesRating, #wiki-panel .sm-wiki, #press-panel .sm-press, .sm-place {
    width: 18px; height: 13px;
    background: url('../img/sprites/social.png') -64px -194px;
}

.sm-insta-likes_active, .sm-Likes_active, .sm-facebooklike_active, .sm-PinterestLike_active, .sm-likes_active, .sm-oklikes_active, .sm-likelinked_active, .sm-likeimdb_active, .sm-dfgf_active, .sm-likeelikes_active, .sm-like_active {
    width: 18px; height: 17px;
    background: url('../img/sprites/social.png') -201px -34px;
}

.sm-insta-likes, .sm-Likes, .sm-facebooklike, .sm-PinterestLike, .sm-likes, .sm-oklikes, .sm-likelinked, .sm-likeimdb, .sm-dfgf, .sm-likeelikes, .sm-like {
    width: 18px; height: 17px;
    background: url('../img/sprites/social.png') -201px -51px;
}

.sm-likaerk {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -72px -84px;
}

.sm-LinkedIn {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -110px -0;
}

.sm-litres {
    width: 18px; height: 18px;
    background: url('../img/sprites/social.png') -0 -176px;
}

.sm-cian, .sm-cian_active {
    width: 14px; height: 18px;
    background: url('../img/sprites/social.png') -201px -168px;
}

.sm-trip, .sm-trip_active {
    width: 18px; height: 12px;
    background: url('../img/sprites/social.png') -134px -120px;
}

.sm-ymaps, .sm-ymaps_active {
    width: 9px; height: 18px;
    background: url('../img/sprites/social.png') -120px -108px;
}

.sm-yelpreviews, .sm-yelpreviews_active {
    width: 14px; height: 18px;
    background: url('../img/sprites/social.png') -96px -60px;
}

.sm-MixCloud {
    width: 26px; height: 16px;
    background: url('../img/sprites/social.png') -82px -156px;
}

.sm-musiv {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -110px -24px;
}

.sm-Snapchat {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -110px -48px;
}

.sm-press {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -110px -72px;
}

.sm-ok {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -0 -108px;
}

.sm-pikabu {
    width: 19px; height: 19px;
    background: url('../img/sprites/social.png') -182px -0;
}

.sm-Pinterest {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -24px -108px;
}

.sm-pro, .sm-pro_active {
    width: 18px; height: 18px;
    background: url('../img/sprites/social.png') -18px -176px;
}

.sm-Quora, .sm-Quora_active {
    width: 18px; height: 18px;
    background: url('../img/sprites/social.png') -36px -176px;
}

.sm-readyAcc {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -48px -108px;
}

.sm-reddit {
    width: 18px; height: 18px;
    background: url('../img/sprites/social.png') -54px -176px;
}

.sm-reels {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -72px -108px;
}

.sm-Reposts_active, #vk-panel .our-services__panel-item::nth-child(4n) .sm-vk_active {
    width: 18px; height: 14px;
    background: url('../img/sprites/social.png') -130px -176px;
}

.sm-Reposts, #vk-panel .our-services__panel-item::nth-child(4n) .sm-vk {
    width: 18px; height: 14px;
    background: url('../img/sprites/social.png') -148px -176px;
}

.sm-reviews {
    width: 26px; height: 26px;
    background: url('../img/sprites/social.png') -84px -0;
}

.sm-Comments_active, .sm-review_active, .sm-tikcomments_active, .sm-facebookcomment_active, .sm-linkedcomm_active, .sm-revimdb_active, .sm-sdfsdfrrg_active, .sm-site_active, #yelp-panel .sm-reviews_active, .sm-com_active {
    width: 16px; height: 15px;
    background: url('../img/sprites/social.png') -0 -194px;
}

.sm-Comments, .sm-review, .sm-tikcomments, .sm-facebookcomment, .sm-linkedcomm, .sm-revimdb, .sm-sdfsdfrrg, .sm-site, #yelp-panel .sm-reviews, .sm-com {
    width: 16px; height: 15px;
    background: url('../img/sprites/social.png') -16px -194px;
}

.sm-yelp {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -96px -108px;
}

.sm-Saves_active {
    width: 12px; height: 13px;
    background: url('../img/sprites/social.png') -144px -132px;
}

.sm-Saves {
    width: 12px; height: 13px;
    background: url('../img/sprites/social.png') -184px -176px;
}

.sm-Shares_active, .sm-shares_active, .sm-facebookshares_active, .sm-TwitterRetweet_active, .sm-okrepost_active, .sm-wdfsarga_active {
    width: 16px; height: 18px;
    background: url('../img/sprites/social.png') -201px -68px;
}

.sm-Shares, .sm-shares, .sm-facebookshares, .sm-TwitterRetweet, .sm-okrepost, .sm-wdfsarga {
    width: 16px; height: 18px;
    background: url('../img/sprites/social.png') -201px -86px;
}

.sm-shazam-main {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -134px -0;
}

.sm-soundcloud {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -134px -24px;
}

.sm-Spreaker {
    width: 27px; height: 20px;
    background: url('../img/sprites/social.png') -0 -156px;
}

.sm-spotify-main {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -134px -48px;
}

.sm-googlemain {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -134px -72px;
}

.sm-insta-stories_active, .sm-watchtime_active {
    width: 16px; height: 16px;
    background: url('../img/sprites/social.png') -201px -104px;
}

.sm-insta-stories, .sm-watchtime {
    width: 16px; height: 16px;
    background: url('../img/sprites/social.png') -201px -120px;
}

.bg-telegram {
    width: 30px; height: 30px;
    background: url('../img/sprites/social.png') -30px -0;
}

.sm-telegram {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -134px -96px;
}

.sm-Tidal {
    width: 26px; height: 18px;
    background: url('../img/sprites/social.png') -27px -156px;
}

.sm-TikTok2 {
    width: 24px; height: 29px;
    background: url('../img/sprites/social.png') -60px -0;
}

.bg-TikTok {
    width: 30px; height: 30px;
    background: url('../img/sprites/social.png') -0 -30px;
}

.sm-TikTok {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -0 -132px;
}

.sm-insta-igtv_active {
    width: 16px; height: 15px;
    background: url('../img/sprites/social.png') -32px -194px;
}

.sm-insta-igtv {
    width: 16px; height: 15px;
    background: url('../img/sprites/social.png') -48px -194px;
}

.sm-Twitch-main {
    width: 24px; height: 25px;
    background: url('../img/sprites/social.png') -84px -26px;
}

.sm-Twitter-main {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -24px -132px;
}

.sm-Live_active {
    width: 16px; height: 16px;
    background: url('../img/sprites/social.png') -201px -136px;
}

.sm-Live {
    width: 16px; height: 16px;
    background: url('../img/sprites/social.png') -201px -152px;
}

.sm-views, .sm-Views, .sm-telegrame, .sm-Twitchviews, .sm-facebookstory, .sm-vkviews, .sm-eyeimdb, .sm-vimeofv, .sm-sfgrrs, #daily-panel .sm-daily {
    width: 20px; height: 13px;
    background: url('../img/sprites/social.png') -152px -156px;
}

.sm-views_active, .video_active, .sm-Views_active, .sm-telegrame_active, .sm-Twitchviews_active, .sm-facebookstory_active, .sm-vkviews_active, .sm-eyeimdb_active, .sm-vimeofv_active, .sm-sfgrrs_active, #daily-panel .sm-daily_active {
    width: 20px; height: 13px;
    background: url('../img/sprites/social.png') -132px -156px;
}

.sm-vimeomain {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -48px -132px;
}

.sm-VK {
    width: 29px; height: 16px;
    background: url('../img/sprites/social.png') -53px -156px;
}

.sm-vk {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -72px -132px;
}

.sm-Plays_active, .sm-1_active, .sm-icon.sm-spotify_active, .sm-srchplay_active {
    width: 20px; height: 16px;
    background: url('../img/sprites/social.png') -90px -176px;
}

.sm-Plays, .sm-1, .sm-icon.sm-spotify, .sm-srchplay {
    width: 20px; height: 16px;
    background: url('../img/sprites/social.png') -110px -176px;
}

#spotify-main-panel .sm-1 {
    width: 18px; height: 19px;
    background: url('../img/sprites/social.png') -182px -76px;
}

#spotify-main-panel .sm-1_active {
    width: 18px; height: 19px;
    background: url('../img/sprites/social.png') -182px -57px;
}

.sm-Website-traffic {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -96px -132px;
}

.sm-wiki {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -120px -132px;
}

.sm-yama, .sm-yama_active {
    width: 24px; height: 23px;
    background: url('../img/sprites/social.png') -158px -48px;
}

.sm-YandexZen-main {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -158px -0;
}

.bg-youtube {
    width: 30px; height: 30px;
    background: url('../img/sprites/social.png') -30px -30px;
}

.sm-youtube {
    width: 24px; height: 24px;
    background: url('../img/sprites/social.png') -158px -24px;
}

.sm-verif, .sm-verif-active, .sm-verification, .sm-verification-active {
    width: 18px; height: 18px;
    background: url('../img/sprites/social.png') -72px -176px;
}

.pm-a {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -0 -0;
}

.pm-american_express {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -30px -0;
}

.pm-apple_pay {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -0 -30px;
}

.pm-bitcoin_logo {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -30px -30px;
}

.pm-cirrus {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -60px -0;
}

.pm-discover {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -60px -30px;
}

.pm-google_pay {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -0 -60px;
}

.pm-maestro {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -30px -60px;
}

.pm-mastercard {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -60px -60px;
}

.pm-paypal_3 {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -90px -0;
}

.pm-qiwi {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -90px -30px;
}

.pm-sberbank {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -90px -60px;
}

.pm-visa {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -0 -90px;
}

.pm-western_union {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -30px -90px;
}

.pm-yandex_pay {
    width: 30px; height: 30px;
    background: url('../img/sprites/payment.png') -60px -90px;
}

.footer-payment {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.footer-payment > div {
    display: block;
    min-width: 30px;
}
